body {
      background: radial-gradient(#6b8e23, #2f4f1f);
      margin: 0;
      font-family: Impact, "Comic Sans MS", cursive;
    }

    /* HEADER */
    .shrek-header {
      background: linear-gradient(#2f4f1f, #556b2f);
      padding: 20px;
      text-align: center;
      box-shadow: 0 6px 0 #1f2f00;
      position: relative;
      overflow: hidden;
      z-index: 10;
    }

    /* LAMA */
    .shrek-header::after {
      content: "";
      position: absolute;
      top: -100%;
      left: 0;
      width: 100%;
      height: 200%;
      pointer-events: none;
      background: repeating-linear-gradient(
        45deg,
        rgba(0,0,0,0.2),
        rgba(0,0,0,0.2) 10px,
        rgba(0,0,0,0.1) 10px,
        rgba(0,0,0,0.1) 20px
      );
      animation: lama 6s linear infinite;
      z-index: 0;
    }

    @keyframes lama {
      from { top: -100%; }
      to { top: 0; }
    }

    h1 {
      color: #ccff00;
      text-shadow: 3px 3px 0 #1f2f00;
      position: relative;
      z-index: 2;
    }

    /* BOTÃO MENU */
    .menu-btn {
      font-size: 35px;
      background-color: #7fff00;
      border: 4px solid #1f2f00;
      border-radius: 12px;
      padding: 5px 15px;
      cursor: pointer;
      box-shadow: 0 5px #1f2f00;
      position: relative;
      z-index: 2;
    }

    .menu-btn:active {
      transform: translateY(5px);
      box-shadow: none;
    }

    /* MENU */
    .shrek-menu {
      display: none;
      margin-top: 15px;
      background-color: #3b5f0b;
      border-radius: 22px;
      padding: 15px;
      animation: abrirMenu 0.4s ease;
      position: relative;
      z-index: 2;
    }

    @keyframes abrirMenu {
      from { transform: scaleY(0); opacity: 0; }
      to { transform: scaleY(1); opacity: 1; }
    }

    .shrek-menu a,
    .submenu button {
      display: block;
     width: 100%;
      margin: 8px 0;
      padding: 5px;
      background-color: #9acd32;
      border: none;
      border-radius: 10px;
      font-size: 15px;
      font-weight: bold;
      cursor: pointer;
      text-decoration: none;
      color: #1f2f00;
      box-shadow: 0 5px #1f2f00;
      font-family: inherit;
      box-sizing: border-box;
    }

    .shrek-menu a:hover,
    .submenu button:hover {
      background-color: #adff2f;
    }

    /* SUBMENU */
    #subMenu {
      display: none;
      margin-top: 10px;
      padding-left: 10px;
      box-sizing: border-box;
    }

    body {
      background: radial-gradient(#6b8e23, #2f4f1f);
      margin: 0;
      font-family: Impact, "Comic Sans MS", cursive;
    }

    /* HEADER */
    .shrek-header {
      background: linear-gradient(#2f4f1f, #556b2f);
      padding: 20px;
      text-align: center;
      box-shadow: 0 6px 0 #1f2f00;
      position: relative;
      overflow: hidden;
      z-index: 10;
    }

    /* LAMA */
    .shrek-header::after {
      content: "";
      position: absolute;
      top: -100%;
      left: 0;
      width: 100%;
      height: 200%;
      pointer-events: none;
      background: repeating-linear-gradient(
        45deg,
        rgba(0,0,0,0.2),
        rgba(0,0,0,0.2) 10px,
        rgba(0,0,0,0.1) 10px,
        rgba(0,0,0,0.1) 20px
      );
      animation: lama 6s linear infinite;
      z-index: 0;
    }

    @keyframes lama {
      from { top: -100%; }
      to { top: 0; }
    }

    h1 {
      color: #ccff00;
      text-shadow: 3px 3px 0 #1f2f00;
      position: relative;
      z-index: 2;
    }

    /* BOTÃO MENU */
    .menu-btn {
      font-size: 35px;
      background-color: #7fff00;
      border: 4px solid #1f2f00;
      border-radius: 12px;
      padding: 5px 15px;
      cursor: pointer;
      box-shadow: 0 5px #1f2f00;
      position: relative;
      z-index: 2;
    }

    .menu-btn:active {
      transform: translateY(5px);
      box-shadow: none;
    }

    /* MENU */
    .shrek-menu {
      display: none;
      margin-top: 15px;
      background-color: #3b5f0b;
      border-radius: 22px;
      padding: 15px;
      animation: abrirMenu 0.4s ease;
      position: relative;
      z-index: 2;
    }

    @keyframes abrirMenu {
      from { transform: scaleY(0); opacity: 0; }
      to { transform: scaleY(1); opacity: 1; }
    }

    .shrek-menu a,
    .submenu button {
      display: block;
     width: 100%;
      margin: 8px 0;
      padding: 5px;
      background-color: #9acd32;
      border: none;
      border-radius: 10px;
      font-size: 15px;
      font-weight: bold;
      cursor: pointer;
      text-decoration: none;
      color: #1f2f00;
      box-shadow: 0 5px #1f2f00;
    }

    .shrek-menu a:hover,
    .submenu button:hover {
      background-color: #adff2f;
    }

    /* SUBMENU */
    #subMenu {
      display: none;
      margin-top: 10px;
      padding-left: 10px;
    }

    a.button{
      display: block;
      width: 20%;
      margin: 8px 0;
      padding: 12px;
      background-color: #9acd32;
      border: none;
      border-radius: 10px;
      font-size: 18px;
      font-weight: bold;
      cursor: pointer;
      text-decoration: none;
      color: #1f2f00;
      box-shadow: 0 4px #1f2f00;
    }